@font-face {
  font-family: Beaufort;
  src: url("Beaufort.ttf");
}
body {
  font-family: Beaufort;
  background-color: #2a2a2a;
  color: white;
  font-size: 18px;
}
header:not(.modal-header) {
  background-color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  width: 80%;
  max-width: 1920px;
}
.header img {
  width: 80px;
}
.header a {
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.header .nav {
  justify-content: flex-end;
}
.header .nav a {
  margin-left: 30px;
  text-decoration: none;
}
article {
  margin: 20px auto 80px;
  padding: 10px 0;
  width: 80%;
  max-width: 1920px;
}
footer:not(.modal-footer) {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: black;
  text-align: center;
}
.footer {
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  max-width: 1920px;
}
.footer p {
  margin: 0;
}
.game {
  text-align: center;
}
.game h1 {
  margin: 0 0 30px;
  font-size: 80px;
  font-weight: bold;
}
.game button {
  background-color: #f4ac45;
  border: 0;
  color: black;
  font-size: 24px;
  padding: 20px;
  font-weight: bold;
}
.game button:hover {
  background-color: #77878b;
  color: white;
}
.game__carousel {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #2a2a2a;
  width: 100%;
  height: 100%;
  animation: fadeInAnimation ease 1s;
}
.game__carousel--mySlides div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.game__carousel--mySlides h2 {
  margin: 0 0 20px;
  font-size: 60px;
  font-weight: bold;
  grid-column-start: 1;
  grid-column-end: 3;
}
.game__carousel--mySlides {
  display: none;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#clock {
  font-size: 24px;
  background-color: black;
  padding: 20px 40px;
  display: block;
}
.game__selectOptions--difficulty {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 0 auto 20px;
  font-size: 22px;
}
.game__selectOptions--difficulty label {
  margin-left: 10px;
}
.game__selectOptions--categories {
  display: grid;
  width: 30%;
  margin: 0 auto 30px;
  font-size: 22px;
}
.modal-footer {
  display: none !important;
}
.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  width: 80%;
  height: fit-content;
  margin: 0 !important;
  max-width: none;
}
.modal-header {
  background-color: black;
}
.modal-body {
  background-color: #2a2a2a;
}